.poco{
    padding-bottom: 50px;
}
.mejor{
    padding-top: 10%;
}
body{
   background-color: #1C1C1C;
   overflow-x: hidden; 
}
.color{
    background: linear-gradient(90deg, #002B5B, #1C1C1C);
}
.letra{
    color: white;
}
.ajuste{
   margin-top: 15px;
   margin-bottom: 15px;
}
table {
    width: 100%;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
tr {
    height: 25px;
}
caption{
    caption-side: top;
    text-align: center;
    font-weight: bold;
}
.abajo{
    margin-top: 12.5%;
    margin-bottom: 12.5%;
}
.mover{
    margin: auto;
}