.poco{
    padding-bottom: 50px;
}
.mejor{
    padding-top: 10%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    background-color: #1C1C1C;
    margin: 0;
    margin-bottom: 40px;
    
}
.formuLogin{
    padding: 0;
}
.color{
    background: linear-gradient(90deg, #002B5B, #1C1C1C);
}
.letra{
    color: white
}
.ajuste{
   margin-top: 15px;
   margin-bottom: 15px;
}
table {
    width: 100%;
}
th, td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
tr {
    height: 30px;
}
caption{
    caption-side: top;
    text-align: center;
    font-weight: bold;
}
.arreg{
    text-align: center;
}
.arreg img{
    max-width: 100px;
    height: auto;
    display: block;
    margin: auto;
}
.footerConte{
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}
.ajusteFormulario{
    margin: auto;
}
.cambioColor:hover{
    color: #D96D39;
}
h1{
    margin-right: 30px;
}
.moverEscondido{
    margin-right: 20px;
}
.moverInput{
    margin-bottom: 10px;
}
.mainAdmin{
    margin: 125px;
}
.alinearAdmin{
    margin: auto;
}